

  <div id="main-wrap">
    <div class="main-container">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
        <h2 class="wsite-content-title" style="text-align:left;"><strong>农业信息.</strong></h2>

        <% @agricultures.each do |agriculture| %>
          <%= link_to agriculture.title, agriculture_path(agriculture.id) %>
        <% end %>

        <div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
          <hr class="styled-hr" style="width:100%;">
          <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        </div>

        <h2 class="wsite-content-title" style="text-align:left;"><strong>相关政策.</strong></h2>

        <% @policies.each do |policy| %>
          <%= link_to policy.titile, policies_path(policy.id) %>
        <% end %>

        <div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
          <hr class="styled-hr" style="width:100%;">
          <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        </div>

        <h2 class="wsite-content-title" style="text-align:left;"><strong>产品介绍.</strong></h2>
        <% @products.each do |product| %>
          <%= link_to product.title, products_path(product.id) %>
        <% end %>
    </div><!-- end container -->
  </div><!-- end main-wrap -->
</div>
</div>

<div id="footer-wrap">
  <div class="main-container">
    Copyright DawnStep Inc
  </div><!-- end container -->
</div>