// Place all the styles related to the main_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  padding: 0px;
  margin: 0px;
}


.wsite-background {
  background-image: url('/images/Large-Farming.jpg') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
}
body.wsite-background {
  background-attachment: fixed !important;
}


.nav-wrap {
  float: left;
  width: 16em;
  height: 18em;

  li {
    :hover {
      color: green;
    }
    a {
      width: 6em;
      font-size: 1.5em;
      color: white;
      margin: 0.5em;
      list-style: none;
    }
  }
}

